<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>AirlineService</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <exception-type>javax.ejb.EJBException</exception-type>
    <location>/passengerTicketError.jsp</location>
</error-page>

  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/passengerSessionError.jsp</location>
</error-page>

<error-page>
    <exception-type>java.lang.ArrayIndexOutOfBoundsException</exception-type>
    <location>/passengerOutOfBoundError.jsp</location>
</error-page>

<error-page>
    <exception-type>java.lang.NumberFormatException</exception-type>
    <location>/passengerOutOfBoundError.jsp</location>
</error-page>
</web-app>



